# Configuration Keycloak
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=opomlytravel
KEYCLOAK_CLIENT_ID=opomlyFRONT
KEYCLOAK_CLIENT_SECRET=your_client_secret_here

# Configuration Session
SESSION_SECRET=your_session_secret_here

# Configuration Google (si nécessaire)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Configuration Serveur
PORT=3001
NODE_ENV=development 